html {
    background-color: #f0d8b2;
    color: #30210c;
    margin: 0;
    padding: 0;
}

/* FONTS ================================================== */

@font-face {
    font-family: 'Bit Potion';
    src: url('/fonts/bit-potion.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

/* TEXT =================================================== */

h1 {
    font-family: "Jersey 15", Helvetica, sans-serif;
    line-height: 0%;
    margin: 0;
}

h2 {
    font-family: "Jersey 15", Helvetica, sans-serif;
    line-height: 100%;
    margin: 0;
}

p {
    font-family: 'Bit Potion', Helvetica, sans-serif;
    font-size: 1.8rem;
    margin: 0;
}

a, a:visited {
    color: #30210c;
    text-decoration: none;
}

/* NAVBAR ================================================= */

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 4rem;
}

/*nav a, nav a:visited {
    color: #ffffff;
}*/

.logo {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.logo img {
    height: 20%;
    max-width: 6vw;
    padding-right: 1rem;
}

.logo h1 {
    font-size: 4rem;
}

.links a {
    font-family: 'Bit Potion', Helvetica, sans-serif;
    font-size: 2.4rem;
    margin: 0;
}

/* HOME =================================================== */

.container-outer {
    border: 10px solid #553624;
    border-radius: 8px;
}

.container-inner {
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    outline: 2px solid #f0d8b2;
    /*outline-offset: 2px;*/
    padding: 0.5rem;
}

a:has(> .card) {
    margin: 1rem;
}

.card {
    align-items: center;
    background-color: #dcc39b;
    border: 2px solid #7e6d50;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    max-width: 40vw;
    min-width: 200px;
    overflow-wrap: normal;
}

.card:hover {
    background-color: #f9e2c0;
}

.card img {
    max-width: 8vw;
    min-width: 8vw;
}

.card h1 {
    font-size: 1.6rem;
    max-width: 15vw;
    text-align: center;
}