html {
    background-color: #f0d8b2;
    color: #30210c;
    margin: 0;
    padding: 0;
}

/* FONTS ================================================== */

@font-face {
    font-family: 'Bit Potion';
    src: url('/fonts/bit-potion.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

/* TEXT =================================================== */

h1 {
    font-family: "Jersey 15", Helvetica, sans-serif;
    line-height: 75%;
    margin: 0;
}

h2 {
    font-family: "Jersey 15", Helvetica, sans-serif;
    line-height: 100%;
    margin: 0;
}

p {
    font-family: 'Bit Potion', Helvetica, sans-serif;
    font-size: 1.8rem;
    margin: 0;
}

a, a:visited {
    color: #30210c;
}

a:hover {
    color: #553624;
}

/* OTHER ELEMENTS ========================================= */

button {
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #30210c;
    cursor: pointer;
    font-family: 'Bit Potion', Helvetica, sans-serif;
    font-size: 1.8rem;
    padding: 0 0.6rem;
}

/* PAGES ================================================== */

.container-outer, .product-outer {
    border: 10px solid #553624;
    border-radius: 8px;
}

.container-inner, .product-inner {
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    outline: 2px solid #f0d8b2;
    /*outline-offset: 2px;*/
    padding: 0.5rem;
}

.product-outer {
    height: 80vh;
}

.product-inner {
    height: 66.2vh;
    padding: 4rem 2rem;
}

.product-image {
    border: 2px solid #7e6d50;
    border-radius: 6px;
    background-color: #f9e2c0;
    margin-right: 2rem;
    max-width: 15rem;
    min-width: 6rem;
    padding: 1rem;
}

.product-details {
    width: 60vw;
}

.product-details h1 {
    font-size: 4rem;
}

.product-details h1, .product-details .element {
    margin-bottom: 0.4rem;
}

.product-separator {
    border-top: 4px solid #553624;
    margin: 1rem 0;
}

.product-details .price, .product-quantity {
    justify-content: end;
}

.product-quantity {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

/* CARD COMPONENT ========================================= */

a:has(> .card) {
    margin: 1rem;
}

.card {
    align-items: center;
    background-color: #dcc39b;
    border: 2px solid #7e6d50;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    max-width: 40vw;
    min-width: 200px;
    overflow-wrap: normal;
    padding: 1rem;
}

.card:hover {
    background-color: #f9e2c0;
}

.card img {
    max-width: 6rem;
    min-width: 8vw;
}

.card h2 {
    font-size: 1.6rem;
    margin: 0.2rem 0 0.4rem 0;
    max-width: 15vw;
    text-align: center;
}

/* ELEMENT CHIP COMPONENT ================================= */

.element {
    align-items: center;
    border-radius: 4px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: fit-content;
    padding-right: 6px;
}

.element img {
    height: 2rem;
    max-width: 2rem;
    min-width: 2rem;
}

/* FOOTER COMPONENT ======================================= */

footer {
    text-align: center;
}

/* HEADER COMPONENT ======================================= */

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 4rem;
}

nav a {
    text-decoration: none;
}

.logo {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.logo img {
    height: 4rem;
    max-width: 6rem;
    padding-right: 1rem;
}

.logo h1 {
    font-size: 4rem;
}

.links a {
    font-family: 'Bit Potion', Helvetica, sans-serif;
    font-size: 2.4rem;
    margin: 0;
}

/* PRICE CHIP COMPONENT =================================== */

.price {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.price img {
    height: 1.2rem;
    max-width: 1.2rem;
    min-width: 1.2rem;
    padding-right: 6px;
}

.price p {
    font-weight: 700;
}

/* QUANTITY COUNTER COMPONENT ============================= */

.counter {
    border: 2px solid #553624;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
}

.counter button {
    background-color: #553624;
    color: #ffffff;
    max-width: 2rem;
}

.counter .minus, .counter .plus {
    border-radius: 0;
}

.counter p {
    background-color: #ffffff;
    font-weight: 700;
    padding: 0 0.8rem;
}