/* FONTS ================================================== */

@font-face {
    font-family: 'Bit Potion';
    src: url('/fonts/bit-potion.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

/* TEXT =================================================== */

h1 {
    font-family: "Jersey 15", Helvetica, sans-serif;
}

p {
    font-family: 'Bit Potion', Helvetica, sans-serif;
    font-size: 1.8rem;
}

.card img {
    max-width: 10vw;
}